@model HomeViewModel;

@{
    ViewData["Title"] = "Home Page";
}


<div class="row m-t-100">

    @if (Model.books != null && Model.books.Count > 0)
    {
        @foreach (var book in Model.books)
        {
            @await Html.PartialAsync("_CardBook", book)
        }
    }
</div>